/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 2, 2023, 3:04:13 PM
    Author     : Admin
*/

#AnchorPane {
  -fx-background-color: #f5f5f5; /* Màu nền cho AnchorPane */
  -fx-border-color: #2196F3;
}

.tab-pane {
  -fx-border-color: #2196F3;
  -fx-padding: 10; /* Khoảng cách giữa TabPane và nội dung bên trong */
}
.tab{
    -fx-font-size: 12pt;  
}
.tab-pane:focused .tab-header-area .tab:selected .focus-indicator {
  -fx-border-color: transparent;
}

.tab-pane .tab-header-area .tab:selected  {
  -fx-background-color: #2196F3; /* Màu nền cho tab được chọn */
  -fx-text-fill: white; /* Màu chữ trong tab được chọn */
}

.tab-pane .tab-header-area .tab:hover {
  -fx-background-color: #BBDEFB; /* Màu nền khi rê chuột vào tab */
}

.vbox {
  -fx-spacing: 10; /* Khoảng cách giữa các thành phần bên trong */
  -fx-alignment: center; /* Canh giữa các thành phần theo trục Vertical */
}

.label {
  -fx-font-weight: bold;  
  -fx-font-size: 17;  
  
}

.text-field, .password-field {
  -fx-font-size: 14; /* Kích thước font cho các TextField và PasswordField */
}

.button {
  -fx-background-color: #2196F3; /* Màu nền cho các Button */
  -fx-text-fill: white; /* Màu chữ cho các Button */
  -fx-font-size: 14; /* Kích thước font cho các Button */
}
.combo-box {
    -fx-padding: 4px;
    -fx-border-width: 2px;
    -fx-border-color: #2196F3;
    -fx-font-size: 11pt;  
}
.button:hover {
  -fx-background-color: #0D47A1; /* Màu nền khi rê chuột vào các Button */
}

.label#loginStatus, .label#signupStatus {
  -fx-font-size: 14; /* Kích thước font cho các Label thông báo */
  -fx-font-weight: bold; /* Định dạng đậm cho các Label thông báo */
  -fx-text-fill: red; /* Màu chữ cho các Label thông báo */
}
